body {
    margin: 0;
    padding: 0;
    background: url(regbg.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.result h1{
    text-align: center;
    font-size: 36px;
    color: yellowgreen;
    font-style: italic
}

.result input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: green;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.result input[type="submit"]:hover
{
    cursor: pointer;
    background: #fb9204;
    color: #000;
    
}

.result a
{
    text-decoration: none;
    font-size: 36px;
    line-height: 20px;
    color: darkorange;
    text-align: center;
}

.result a:hover
{
    color: #fb2525;
}